.header {
  background-color: #131921;
  color: white;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon {
  position: relative;
  font-size: 22px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.logout-btn {
  background: #f0c14b;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 600;
}
